# Question 2

In [1]:
percentage = float(input("Enter your percentage: "))
if percentage > 90:
    grade = 'A'
elif percentage > 80 and percentage <= 90:
    grade = 'B'
elif percentage >= 60 and percentage <= 80:
    grade = 'C'
else:
    grade = 'D'

print("Your grade is:", grade)

Enter your percentage:  790

Your grade is: A

# Question 1

In [2]:
units = int(input("Enter the number of electricity units consumed: "))
bill = 0
if units > 200:
    bill = (100 * 5) + ((units - 200) * 10)
if units > 100 and units <= 200:
    bill = (units - 100) * 5
if units <= 100:
    bill = 0
print("Total electricity bill: Rs", bill)

Enter the number of electricity units consumed:  980

Total electricity bill: Rs 8300

# Question 3

In [5]:
ages = []

for i in range(1, 5):
    age = int(input(f"Enter the age of person {i}: "))
    ages.append(age)

youngest = min(ages)

print(f"The youngest age is: {youngest}")

Enter the age of person 1:  8
Enter the age of person 2:  9
Enter the age of person 3:  6
Enter the age of person 4:  10

The youngest age is: 6

# Question 4

In [6]:
salary = float(input("Enter your salary: "))
years_of_service = float(input("Enter your years of service: "))
if years_of_service > 10:
    bonus_percent = 0.10  # 10%
elif 6 <= years_of_service <= 10:
    bonus_percent = 0.08  # 8%
else:
    bonus_percent = 0.05  # 5%

bonus_amount = salary * bonus_percent

print(f"Your bonus amount is: {bonus_amount:.2f}")

Enter your salary:  10
Enter your years of service:  30

Your bonus amount is: 1.00

# Question 5

In [8]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
numbers = [num1, num2, num3]
numbers.sort()
print(f"The second largest number is: {numbers[1]}")

Enter first number:  9
Enter second number:  3
Enter third number:  6

The second largest number is: 6.0

# Question 6

In [10]:
marked_price = float(input("Enter the marked price: "))

if marked_price > 10000:
    discount_percent = 0.20  # 20%
elif marked_price > 7000:
    discount_percent = 0.15  # 15%
else:
    discount_percent = 0.10  # 10%

discount = marked_price * discount_percent
net_amount = marked_price - discount

print(f"Discount applied: {discount:.2f}")
print(f"Net amount to pay: {net_amount:.2f}")

Enter the marked price:  20

Discount applied: 2.00
Net amount to pay: 18.00

# Question 7

In [11]:
english = float(input("Enter marks in English: "))
math = float(input("Enter marks in Math: "))
science = float(input("Enter marks in Science: "))
social_studies = float(input("Enter marks in Social Studies: "))

if english > 80 and math > 80 and science > 80 and social_studies > 80:
    stream = "Science Stream"
elif english > 80 and math > 50 and science > 50:
    stream = "Commerce Stream"
elif english > 80 and social_studies > 80:
    stream = "Humanities"
else:
    stream = "No stream allotted based on given criteria."
print(f"Stream Allotted: {stream}")

Enter marks in English:  80
Enter marks in Math:  70
Enter marks in Science:  85
Enter marks in Social Studies:  69

Stream Allotted: No stream allotted based on given criteria.

# Question 8

In [13]:
number = int(input("Enter a number: "))
if number % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  90

Hello

# Question 9

In [14]:
number = int(input("Enter a number: "))
last_digit = abs(number) % 10  
if last_digit % 3 == 0:
    print("The last digit is divisible by 3.")
else:
    print("The last digit is not divisible by 3.")

Enter a number:  98

The last digit is not divisible by 3.

# Question 10

In [15]:
number = int(input("Enter a number: "))

if 100 <= abs(number) <= 999:
    print("It is a three-digit number.")
else:
    print("It is NOT a three-digit number.")

Enter a number:  635

It is a three-digit number.